@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia';
}

body 
{
  background: hsla(0, 0%, 100%, 0);
}

.header {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo {
  padding-left: 2%;
}
.image-logo {
  width: 170px;
  height: 100%;
  
}

.nav-links{
  width: 100%;
  background:-webkit-linear-gradient(white,white,white,gray);;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.nav-links .hero-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 2px solid darkgreen;

}
.nav-links .hero-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 2px solid darkgreen;
  height: 60px;
  padding: 15px 75px;
  font-size: 23px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid green;
  background: green;
  transition: 1s;
  color: white;
}
.nav-menu ul{
  display: flex;
  padding-right: 30px;
}
.nav-menu ul li{
  list-style: none;
  padding: 15px 15px;
}
.nav-menu ul li a{
  text-decoration: none;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.nav-menu ul li:hover::after {
  width: 100%;
}
.toggle-btn{
  position: absolute;
  top: 50px;
  right: 30px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  height: 22px;
  width: 32px;
}
.toggle-btn .bar{
  height: 17%;
  width: 100%;
  background-color: green;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .toggle-btn{
    display: flex;
  }
  .nav-menu {
    position: absolute;
    background: #fff;
    height: 300xp;
    width: 290px;
    top: 127px;
    left: 0;
    text-align:center;
    z-index: 2;
    transition: 2s;
    display: none;
  }
  
  .nav-links {
    color: white;
    font-size: 22px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

  }
  .nav-menu ul {
    padding-right: 0px;
    width: 100%;
    flex-direction: column;
  }
  .nav-menu ul li{
    padding-left: 30px;
  }
  .nav-menu ul li a{
    font-size: 17px;
    color: black;
  }
  .nav-menu.active{
    display: flex;
    
  }
}

.contactus
{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contactus .title 
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactus .title h2 
{
  color: rgb(29, 87, 58);
  font-weight: 500;
}
.form
{
  grid-area: form;
}

.map
{
  grid-area: map;
}
.box
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
        "form map";
  margin-top: 20px;
}

.contact 
{
  background: rgb(51, 124, 65);
  padding: 40px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0);
}
.contact h3 
{
  color: #fdfdfd;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}
/* FormBx */
.formBx 
{
  position: relative;
  width: 100%;
}
.formBx .row50 
{
  display: flex;
  gap: 20px;
}
.inputBox 
{
  
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBx .row100 .inputBox 
{
  width: 100%;
}
.formBx .inputBox span 
{
  color: #fdfdfd;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.formBx .inputBox input 
{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.formBx .inputBox textarea 
{
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.1em;
  resize: none;
  min-height: 220px;
  outline: none;
  border: 1px solid #333;
}
.formBx .inputBox input[type="submit"]
{
  background: #184d18;
  color: #fff;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 15px;
}
.formBx ::placeholder
{
  color: #999;
}
/* info Box */
.info 
{
  background: #000000;
}
.info h3 
{
  color: #fff;
}
.infoBox div
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}





.map
{
  padding: 0;
}
.map iframe 
{
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width:991px)
{
  body
  {
    background: #03a9f5
  }
  .contactus
  {
    padding: 20px;
  }
  .box
  {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
          "form"
          "info"
          "map";
  }
  .formBx .row50
  {
    flex-direction: column;
    gap: 0;
  }
  .inputBox 
  {
    width: 100%;
  }
  .map
  {
    height: 300px;
  }
}
/* Footer */
.footer-distributed {
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width: 100%;
  text-align: left;
  font: bold 20px sans-serif;
  padding: 5px 10px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center {
  width: 25%;
}
.footer-distributed .footer-left i {
  background-color: darkgreen;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-left i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-left p {
  display: inline;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-left p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-left p a {
  color: white;
  text-decoration: none;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: darkgreen;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: darkgreen;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 70px ;
  margin-left: 70px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: darkgreen;
  border-radius: 2px;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  line-height: 55px;

  margin-right: 5px;
  margin-bottom: 10px;
}
/* Allows for the footer to be reponsive */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
